@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  color: #191919;
  font-family: inter, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: dm sans, Arial, Helvetica, sans-serif;
  color: #191919;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 45px;
  font-weight: 900;
}

h3 {
  font-size: 22px;
  font-weight: 900;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  height: 46px;
  border-radius: 999px;
  transition: background-color 0.15s, color 0.15s;
}
.btn-yellow i {
  margin-left: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.btn-yellow:hover {
  background-color: #191919;
  color: #F9D783;
}
.btn-yellow:hover i {
  color: #F9D783;
}
.btn-yellow:active {
  background-color: #9b9b9b;
  color: #F9D783;
}
.btn-yellow:active i {
  color: #F9D783;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  height: 46px;
  border-radius: 999px;
  transition: background-color 0.15s, color 0.15s;
}
.btn-transparent i {
  margin-left: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.btn-transparent:hover {
  background-color: #191919;
  color: #F9D783;
}
.btn-transparent:hover i {
  color: #F9D783;
}
.btn-transparent:active {
  background-color: #9b9b9b;
  color: #F9D783;
}
.btn-transparent:active i {
  color: #F9D783;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  height: 46px;
  border-radius: 999px;
  transition: background-color 0.15s, color 0.15s;
}
.btn-black i {
  color: #FFFFFF;
  margin-left: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.btn-black:hover {
  background-color: #191919;
  color: #F9D783;
}
.btn-black:hover i {
  color: #F9D783;
}
.btn-black:active {
  background-color: #9b9b9b;
  color: #F9D783;
}
.btn-black:active i {
  color: #F9D783;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  background-color: #F0EFE9;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
@media (max-width: 991px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  header .container .logotype {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
header .container .menu {
  width: 100%;
  padding-top: 16px;
}
@media (max-width: 768px) {
  header .container .menu {
    display: none;
  }
}
header .container .menu .top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #DAD9D3;
}
@media (max-width: 991px) {
  header .container .menu .top-menu {
    display: none;
  }
}
header .container .menu .top-menu .contact {
  display: flex;
}
header .container .menu .top-menu .contact p {
  border-right: 1px solid #DAD9D3;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px;
}
header .container .menu .top-menu .contact p.first {
  padding-left: 0px;
}
header .container .menu .top-menu .contact p.last {
  border-right: none;
}
header .container .menu .top-menu .contact i {
  margin-right: 10px;
  font-size: 20px;
}
header .container .menu .top-menu .social-media {
  margin: 0px;
  padding: 0px;
  width: 122px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  header .container .menu .top-menu .social-media {
    display: none;
  }
}
header .container .menu .top-menu .social-media i:hover {
  color: #c2bebe;
}
header .container .menu .bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 991px) {
  header .container .menu .bottom-menu {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
header .container .menu .bottom-menu .navigation-bar {
  display: flex;
  gap: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .container .menu .bottom-menu .navigation-bar a {
  text-decoration: none;
  color: #191919;
}
header .container .menu .bottom-menu .navigation-bar a:hover {
  text-decoration: underline;
}
header .container .menu .bottom-menu .login {
  width: 122px;
}
header .container .menu-phone {
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  header .container .menu-phone {
    display: none;
  }
}

main {
  grid-area: main;
}
main .showcase1 {
  padding-top: 20px;
  background-color: #F0EFE9;
}
main .showcase1 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  main .showcase1 .container h1 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  main .showcase1 .container h1 {
    font-size: 60px;
  }
}
main .showcase1 .container p {
  margin-top: 40px;
  font-size: 20px;
  color: #5A5957;
}
@media (max-width: 1199px) {
  main .showcase1 .container p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
main .showcase1 .container .showcase-btns {
  margin-top: 48px;
  display: flex;
  gap: 16px;
}
@media (max-width: 1199px) {
  main .showcase1 .container .showcase-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  main .showcase1 .container .showcase-btns {
    display: block;
    text-align: center;
  }
  main .showcase1 .container .showcase-btns .learn-more {
    margin-top: 15px;
  }
  main .showcase1 .container .showcase-btns .get-consulting {
    margin-right: 0px;
  }
}
main .showcase1 .container .showcase-btns .get-consulting {
  width: 206px;
  height: 54px;
}
main .showcase1 .container .showcase-btns .learn-more {
  width: 206px;
  height: 54px;
}
@media (max-width: 1199px) {
  main .showcase1 .container img {
    display: none;
  }
}
main .customers {
  padding-top: 70px;
  padding-bottom: 70px;
}
main .customers .container .inception {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
main .customers .container .inception img {
  max-width: 100%;
}
@media (min-width: 768px) {
  main .customers .container .inception {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  main .customers .container .inception img {
    max-width: 100%;
    height: auto;
    font-size: auto;
  }
}
main .features {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}
main .features .wrapper-div {
  border: 1px solid #D1D1D1;
  padding: 0px 100px;
}
main .features .container {
  padding: 85px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "a b c" "a d e";
  row-gap: 20px;
}
main .features .container .content-big {
  grid-area: a;
  height: 416px;
  width: 465px;
  margin-right: 50px;
}
@media (max-width: 1199px) {
  main .features .container .content-big {
    width: 100%;
  }
}
main .features .container .content-big p {
  font-size: 18px;
  color: #F94D1C;
}
main .features .container .content-big h2 {
  padding-right: 7px;
}
main .features .container .content-big .learn-more {
  width: 458px;
  height: 54px;
  margin-top: 30px;
}
main .features .container .content-small {
  height: 200px;
  width: 300px;
  text-decoration: none;
}
main .features .container .content-small img, main .features .container .content-small h3 {
  padding-top: 30px;
  padding-left: 30px;
}
main .features .container .content-small p {
  padding-left: 30px;
  color: gray;
}
main .features .container .content-small.top-left {
  grid-area: b;
}
main .features .container .content-small.top-right {
  grid-area: c;
  margin-right: 150px;
}
main .features .container .content-small.bottom-left {
  grid-area: d;
}
main .features .container .content-small.bottom-right {
  grid-area: e;
  margin-right: 150px;
}
@media (max-width: 1199px) {
  main .features {
    display: none;
  }
}
main .about-company {
  padding-bottom: 120px;
}
main .about-company .container {
  display: flex;
  align-items: start;
  gap: 200px;
}
main .about-company .container .left {
  position: relative;
}
main .about-company .container .left .textbox {
  height: 180px;
  width: 370px;
  background-color: #BEEBFF;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.131);
  position: absolute;
  bottom: 40px;
  left: -56px;
  padding-top: 40px;
  padding-left: 25px;
}
main .about-company .container .left .textbox .name {
  font-family: DM sans, inter, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
main .about-company .container .left .textbox span {
  color: #F94D1C;
  font-size: 15px;
}
main .about-company .container .right {
  width: 500px;
}
main .about-company .container .right .textbox {
  margin-bottom: 116px;
}
main .about-company .container .right .textbox .head {
  color: #F94D1C;
  font-size: 18px;
}
main .about-company .container .right .textbox h2 {
  margin-bottom: 25px;
}
main .about-company .container .right .textbox p {
  line-height: 2;
  color: #5E5E5E;
  font-size: 15px;
}
main .about-company .container .right .textbox p.first {
  margin-bottom: 34px;
}
main .about-company .container .right .buttons {
  display: flex;
  gap: 40px;
}
main .about-company .container .right .buttons .btn-black {
  width: 180px;
}
main .about-company .container .right .buttons .btncontainer {
  border: 1px solid transparent;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 18px;
  transition: border 0.15s, background-color 0.15s;
}
main .about-company .container .right .buttons .btncontainer:hover {
  border: 1px solid black;
  background-color: #F9D783;
}
main .about-company .container .right .buttons .btncontainer:hover .btn-play {
  border: none;
}
main .about-company .container .right .buttons .btncontainer p {
  margin: 0px 0px;
}
main .about-company .container .right .buttons .btncontainer .btn-play {
  background-color: transparent;
  border: 1px solid #191919;
  height: 46px;
  width: 46px;
  border-radius: 999px;
}
main .about-company .container .right .buttons .btncontainer .btn-play i {
  margin-left: 8px;
}
main .our-services {
  background-color: #F0EFE9;
  padding-bottom: 62px;
}
main .our-services .container .head {
  padding-top: 120px;
  padding-bottom: 48px;
}
main .our-services .container .head p {
  color: red;
}
main .our-services .container .head h3 {
  width: 500px;
  font-size: 45px;
  font-weight: 900;
}
main .our-services .container .services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
main .our-services .container .services-grid .content-box {
  background-color: white;
  height: 333px;
  width: auto;
  padding: 47px 30px;
  text-decoration: none;
}
main .our-services .container .services-grid .content-box img {
  margin-bottom: 40px;
}
main .our-services .container .services-grid .content-box div {
  display: flex;
  justify-content: end;
}
main .our-services .container .services-grid .content-box div .btn-black-round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #191919;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
main .our-services .container .services-grid .content-box:hover {
  background-color: #F9D783;
  text-decoration: underline;
  text-decoration-color: #191919;
}
main .our-services .container .services-grid .content-box:hover .btn-black-round {
  background-color: white;
  color: #191919;
}
main .our-services .container .button {
  padding: 48px 50px;
  display: flex;
  justify-content: center;
}
main .our-services .container .button .btn-transparent {
  height: 54px;
  width: 220px;
}

footer {
  grid-area: footer;
  background-color: #0E1021;
}
footer .upper, footer .lower, footer .container, footer p, footer a, footer i {
  color: #B6B6BC;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;
}
@media (max-width: 767px) {
  footer .upper .container {
    justify-content: space-around;
  }
}
footer .upper .container .logo-and-text {
  max-width: 290px;
}
@media (max-width: 1199px) {
  footer .upper .container .logo-and-text {
    display: none;
  }
}
footer .upper .container .logo-and-text img {
  margin-bottom: 30px;
}
footer .upper .container .content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  footer .upper .container .content-box.last {
    display: none;
  }
}
footer .upper .container .content-box p {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
footer .upper .container .content-box a {
  display: block;
}
footer .lower {
  border-top: 1px solid #3E404D;
}
footer .lower .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}
@media (max-width: 767px) {
  footer .lower .container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 50px;
  }
  footer .lower .container .social-media {
    font-size: 25px;
  }
}
footer .lower .container .copyright {
  font-size: 15px;
}
footer .lower .container .social-media {
  display: flex;
  gap: 26px;
}
footer .lower .container .social-media i {
  color: white;
}